/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*Header start*/
	.c_navbar{
		--bs-navbar-padding-y: .8em;
	}
	.nav-logo {
	    width: 85%;
	}
	.c_icon{
		background-color: #b5a263;
	}
	.menu{
		text-align: right;
	}
	.c_nav{
		margin: -4px 0;
		padding: 0;
	}
	.c_nav:hover{
		border-bottom: 4px solid transparent;
	}
	.c_nav a{
		margin-right: 12px;
	}
	.c_nav:last-child a{
		margin-right: 12px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	/*Header end*/

	/*Banner start*/
	.banner{
		padding: 70px 0;
	}
	.c_ind {
	    margin-bottom: -35px;
	}
	.c_inner p {
	    margin-top: 10px !important;
	    font-size: 15px;
	}
	.c_inner h1 {
	    margin: 5px 0 20px !important;
	    font-size: 28px;
	}
	.btn_common {
	    font-size: 15px;
	}
	.btn_banner {
	    margin-bottom: 45px;
	}
	.c_prev{
		display: none;
	}
	.c_next{
		display: none;
	}
	/*Banner end*/

	/*Business start*/
	.business{
		padding: 70px 0;
	}
	.business_paragraph {
	    padding: 0;
	}
	.business_card {
	    margin-top: 40px;
	}
	.business_card p{
		padding: 0;
	}
	.title_h1 {
	    font-size: 18px;
	    line-height: 30px;
	}
	.underline {
	    margin: 15px auto;
	    width: 25%;
	}
	/*Business end*/

	/*Who start*/
	.who{
		padding: 70px 0;
	}
	.who_img img {
	    width: 100%;
	}
	.who_content{
	    padding: 35px 25px 55px;
	    text-align: center;
	}
	.w_title{
		text-align: center;
	}
	.who_content p {
	    margin-bottom: 25px;
	    padding: 0;
	    text-align: center;
	}
	.btn_who {
	    font-size: 15px;
	}
	/*Who end*/

	/*Recent start*/
	.recent{
		padding: 70px 0;
	}
	.rc_wrapper ul li {
	    margin: 6px 12px 0px;
	    padding: 5px;
	}
	.recent_card{
		margin-top: 20px;
	}
	.btn-work {
	    margin-top: 40px;
	}
	/*Recent end*/

	/*How start*/
	.how{
		padding: 70px 0;
	}
	.how_para {
	    margin-bottom: 40px;
	}
	.how_img{
		text-align: center;
	}
	.how_img img{
		float: none !important;
	}
	.how_imgg{
		width: 55%;
	}
	.how_content{
		margin-top: 40px;
		padding: 0;
		text-align: center;
	}
	/*How end*/

	/*Counter start*/
	.count{
		padding: 35px 0 70px;
	}
	.count_content {
	    margin-top: 35px;
	}
	.count_h2 {
	    margin: 15px 0 0;
	}
	.count_underline{
		margin: 18px auto;
		width: 22%;
	}
	.counter_p {
	    padding: 0;
	}
	/*Counter end*/

	/*Team start*/
	.team{
		padding: 70px 0;
	}
	.team_wrapper {
	    margin-top: 20px;
	}
	.team_content{
		text-align: center;
	}
	.team_img {
	    text-align: center;
	}
	.team_h2 {
	    margin-top: 15px !important;
	}
	.team_p1 {
	    margin: 10px 0;
	}
	.team_p2 {
		margin-bottom: 12px;
	    padding: 0;
	}
	.team_content ul li a{
		font-size: 18px;
	}
	/*Team end*/

	/*Feature start*/
	.feature{
		padding: 70px 0;
	}
	.feature_paragraph {
	     margin-bottom: 0px !important; 
	}
	.feature_wrapper {
	    margin-top: 30px;
	}
	.feature_img {
	    margin-bottom: 20px;
	}
	.feature_img img{
		width: 32%;
	}
	.feature_content{
		text-align: center;
	}
	.feature_content p {
	    padding: 0;
	}
	/*Feature end*/

	/*Testimonial start*/
	.testimonial{
		padding: 70px 0;
	}
	.f_carousel_img{
		margin: 10px 0 20px;
	}
	.t_p1{
		padding: 0;
	}
	.t_prev{
		display: none;
	}
	.t_next{
		display: none;
	}
	/*Testimonial end*/

	/*Brand CSS start*/
	.brand{
		padding: 25px 0;
	}
	/*Brand CSS end*/

	/*Footer top start*/
	.footer-top{
		padding: 40px 0 40px;
	}
	.footer_top_wrapper{
		margin-top: 30px;
		padding: 0;
		text-align: center;
	}
	.footer_p1 {
	    padding: 0;
	}
	/*Footer top end*/

	/*Footer bottom start*/
	.footer-bottom{
		text-align: center !important;
	}
	.footer-bottom ul{
		margin-top: 15px !important;
		float: none !important;
		text-align: center;
	}
	/*Footer bottom end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*Header start*/
	.c_navbar{
		--bs-navbar-padding-y: .8em;
	}
	.c_icon{
		background-color: #b5a263;
	}
	.menu{
		text-align: right;
	}
	.c_nav{
		margin: -4px 0;
		padding: 0;
	}
	.c_nav:hover{
		border-bottom: 4px solid transparent;
	}
	.c_nav a{
		margin-right: 12px;
	}
	.c_nav:last-child a{
		margin-right: 12px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	/*Header end*/

	/*Banner start*/
	.banner{
		padding: 70px 0;
	}
	.c_ind {
	    margin-bottom: -35px;
	}
	.c_inner p {
	    margin-top: 10px !important;
	    font-size: 16px;
	}
	.c_inner h1 {
	    margin: 5px 0 18px !important;
	    font-size: 34px;
	}
	.btn_common {
	    font-size: 15px;
	}
	.btn_banner {
	    margin-bottom: 45px;
	}
	/*.c_prev{
		margin-top: -15px;
		margin-left: -50px;
	}
	.c_next{
		margin-top: -15px;
		margin-right: -50px;
	}*/
	.c_prev{
		display: none;
	}
	.c_next{
		display: none;
	}
	/*Banner end*/

	/*Business start*/
	.business{
		padding: 70px 0;
	}
	.business_paragraph {
	    padding: 0 25px;
	}
	.business_card {
	    margin-top: 40px;
	}
	.business_card p{
		padding: 0 75px;
	}
	.title_h1 {
	    font-size: 20px;
	}
	.underline {
	    margin: 18px auto;
	    width: 15%;
	}
	/*Business end*/

	/*Who start*/
	.who{
		padding: 80px 0 100px;
	}
	.who_img img {
	    width: 100%;
	}
	.who_content{
	    padding: 35px 25px 55px;
	    text-align: center;
	}
	.w_title{
		text-align: center;
	}
	.who_content p {
	    margin-bottom: 32px;
	    padding: 0 50px;
	    text-align: center;
	}
	/*Who end*/

	/*Recent start*/
	.recent{
		padding: 70px 0;
	}
	.rc_wrapper ul li {
	    margin: 6px 8px 10px;
	    padding: 5px;
	}
	.btn-work {
	    margin-top: 40px;
	}
	/*Recent end*/

	/*How start*/
	.how{
		padding: 70px 0;
	}
	.how_para {
	    margin-bottom: 40px;
	}
	.how_img{
		text-align: center;
	}
	.how_img img{
		float: none !important;
	}
	.how_imgg{
		width: 40%;
	}
	.how_content{
		margin-top: 40px;
		padding: 0 22px;
		text-align: center;
	}
	/*How end*/

	/*Counter start*/
	.count{
		padding: 35px 0 70px;
	}
	.count_content {
	    margin-top: 35px;
	}
	.count_h2 {
	    margin: 20px 0 0;
	}
	.count_underline{
		margin: 18px auto;
		width: 12%;
	}
	.counter_p {
	    padding: 0 100px;
	}
	/*Counter end*/

	/*Team start*/
	.team{
		padding: 70px 0;
	}
	.team_wrapper {
	    margin-top: 20px;
	}
	.team_content{
		text-align: center;
	}
	.team_img {
	    text-align: center;
	}
	.team_h2 {
	    margin-top: 15px !important;
	}
	.team_p1 {
	    margin: 10px 0;
	}
	.team_p2 {
	    padding: 0 75px;
	}
	.team_content ul li a{
		font-size: 20px;
	}
	/*Team end*/

	/*Feature start*/
	.feature{
		padding: 70px 0;
	}
	.feature_paragraph {
	     margin-bottom: 0px !important; 
	}
	.feature_wrapper {
	    margin-top: 40px;
	}
	.feature_img {
	    margin-bottom: 20px;
	}
	.feature_img img{
		width: 16%;
	}
	.feature_content{
		text-align: center;
	}
	.feature_content p {
	    padding: 0 80px;
	}
	/*Feature end*/

	/*Testimonial start*/
	.testimonial{
		padding: 70px 0;
	}
	.f_carousel_img{
		margin: 10px 0 20px;
	}
	.t_prev{
		margin-top: -60px;
		margin-left: -40px;
	}
	.t_next{
		margin-top: -60px;
		margin-right: -40px;
	}
	/*Testimonial end*/

	/*Brand CSS start*/
	.brand{
		padding: 30px 0;
	}
	/*Brand CSS end*/

	/*Footer top start*/
	.footer-top{
		padding: 40px 0 40px;
	}
	.footer_top_wrapper{
		margin-top: 30px;
		padding: 0 80px;
		text-align: center;
	}
	.footer_p1 {
	    padding: 0;
	}
	/*Footer top end*/

	/*Footer bottom start*/
	.footer-bottom{
		text-align: center !important;
	}
	.footer-bottom ul{
		margin-top: 15px !important;
		float: none !important;
		text-align: center;
	}
	/*Footer bottom end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*Header start*/
	.c_navbar{
		--bs-navbar-padding-y: .8em;
	}
	.c_icon{
		background-color: #b5a263;
	}
	.menu{
		text-align: right;
	}
	.c_nav{
		margin: -4px 0;
		padding: 0;
	}
	.c_nav:hover{
		border-bottom: 4px solid transparent;
	}
	.c_nav a{
		margin-right: 12px;
	}
	.c_nav:last-child a{
		margin-right: 12px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	/*Header end*/

	/*Banner start*/
	.banner{
		padding: 80px 0;
	}
	.c_ind {
	    margin-bottom: -45px;
	}
	.c_inner p {
	    margin-top: 20px !important;
	    font-size: 17px;
	}
	.c_inner h1 {
	    margin: 5px 0 18px !important;
	    font-size: 40px;
	}
	.btn_banner {
	    margin-bottom: 60px;
	}
	.c_prev{
		margin-top: -20px;
		margin-left: -70px;
	}
	.c_next{
		margin-top: -20px;
		margin-right: -70px;
	}
	/*Banner end*/

	/*Business start*/
	.business{
		padding: 80px 0 100px;
	}
	.business_paragraph {
	    padding: 0 45px;
	}
	.business_card {
	    margin-top: 40px;
	}
	.business_card h2 {
	    margin: 16px 0 6px;
	}
	.business_card p{
		padding: 0;
	}
	.underline {
	    margin: 20px auto;
	    width: 12%;
	}
	/*Business end*/

	/*Who start*/
	.who{
		padding: 80px 0 100px;
	}
	.who_img img {
	    width: 100%;
	}
	.who_content{
	    padding: 35px 25px 55px;
	    text-align: center;
	}
	.w_title{
		text-align: center;
	}
	.who_content p {
	    margin-bottom: 35px;
	    padding: 0 65px;
	    text-align: center;
	}
	/*Who end*/

	/*Recent start*/
	.recent{
		padding: 80px 0 100px;
	}
	.rc_wrapper ul li {
	    margin: 12px 5px 25px;
	    padding: 5px 12px;
	}
	/*Recent end*/

	/*How start*/
	.how{
		padding: 80px 0 100px;
	}
	.how_img{
		text-align: center;
	}
	.how_img img{
		float: none !important;
	}
	.how_imgg{
		width: 40%;
	}
	.how_content{
		margin-top: 40px;
		padding: 0 85px;
		text-align: center;
	}
	/*How end*/

	/*Counter start*/
	.count{
		padding: 80px 0 100px;
	}
	.count_h2 {
	    margin: 20px 0 0;
	}
	.count_underline{
		margin: 18px auto;
		width: 30%;
	}
	/*Counter end*/

	/*Team start*/
	.team{
		padding: 80px 0 100px;
	}
	.team_wrapper {
	    margin-top: 30px;
	}
	.team_content{
		text-align: center;
	}
	.team_img {
	    text-align: center;
	}
	.team_h2 {
	    margin-top: 15px !important;
	}
	.team_p1 {
	    margin: 10px 0;
	}
	.team_p2 {
	    padding: 0 30px;
	}
	.team_content ul li a{
		font-size: 20px;
	}
	/*Team end*/

	/*Feature start*/
	.feature{
		padding: 80px 0 100px;
	}
	.feature_paragraph {
	     margin-bottom: 0px !important; 
	}
	.feature_img img{
		width: 100%;
	}
	/*Feature end*/

	/*Testimonial start*/
	.testimonial{
		padding: 80px 0 100px;
	}
	.f_carousel_img{
		margin: 10px 0 20px;
	}
	.t_prev{
		margin-top: -60px;
		margin-left: -60px;
	}
	.t_next{
		margin-top: -60px;
		margin-right: -60px;
	}
	/*Testimonial end*/

	/*Brand CSS start*/
	.brand{
		padding: 40px 0;
	}
	/*Brand CSS end*/

	/*Footer top start*/
	.footer-top{
		padding: 40px 0 40px;
	}
	.footer_top_wrapper{
		margin-top: 30px;
		padding: 0 115px;
		text-align: center;
	}
	.footer_p1 {
	    padding: 0;
	}
	/*Footer top end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*Banner start*/
	.c_prev{
		margin-top: -25px;
		margin-left: -100px;
	}
	.c_next{
		margin-top: -25px;
		margin-right: -100px;
	}
	/*Banner end*/

	/*Business start*/
	.business_card p{
		padding: 0;
	}
	/*Business end*/

	/*Who start*/
	.who_underline {
	    margin: 23px 0;
	    width: 21%;
	}
	.who_content {
	    margin-top: 0;
	    padding: 42px 15px;
	}
	.who_content p {
	    margin-bottom: 35px;
	    padding-right: 0;
	}
	/*Who end*/

	/*Team start*/
	.team_p1 {
	    margin: 12px 0;
	}
	/*Team end*/
}

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	/*Banner start*/
	.c_prev{
		margin-top: -20px;
		margin-left: -108px;
	}
	.c_next{
		margin-top: -20px;
		margin-right: -108px;
	}
	/*Banner end*/
}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
	/*Banner start*/
	.c_prev{
		margin-top: -35px;
		margin-left: -150px;
	}
	.c_next{
		margin-top: -35px;
		margin-right: -150px;
	}
	/*Banner end*/

	/*Who start*/
	.who_content {
	    margin-top: 38px;
	}
	.who_underline {
	    margin: 30px 0;
	    width: 15%;
	}
	/*Who end*/

	/*Team start*/
	.team_content ul li a{
		font-size: 18px;
	}
	/*Team end*/

	/*Testimonial start*/
	.t_prev{
		margin-top: -70px;
	}
	.t_next{
		margin-top: -70px;
	}
	/*Testimonial end*/
}